@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* globals.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.logo{
  width: 120px;
}

.categories{
  background-color: transparent;
  color: #0a0a0a;
}

.header {
  background-color: #4CAF50;
  padding: 0.3rem;
  text-align: center;
  color: white;
}

.top-icon{
  height: 20px
}

.lang-options{
  background-color: transparent;
  font-weight: 600;
}

.lang-options option{
  color: #0a0a0a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar{
  position: fixed;
  width: auto;
  /* border: red solid;  */
  backdrop-filter: blur(10px);
  background-color: rgba(155, 155, 155, 0.127);
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}


.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  /* border: red solid; */
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #9a9a9a;
}

.product-card .price {
  color: #555;
  margin: 0.5rem 0;
}

.product-description{
  /* border: red solid; */
  color: #999;
  font-size: 13px;
  margin: 5px 0;
}

.product-card button {
  background-color: transparent;
  color: #45a049;
  border: 2px #45a049 solid;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

/* .product-card:hover{
  box-shadow: 0px 0px 10px rgb(135, 135, 135);
  transition: all 0.3s ease-out;
} */

.product-card button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #45a049;
  color: #ffffff;
}

.banner {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #e0f7fa;
  text-align: center;
  overflow: hidden;
}

.headset-enjoy{
  position: relative;
  top: 46px;
}

.banner h1 {
  font-size: 2rem;
  color: #333;
}